{% extends 'base.html' %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block main %}
    <div class="col">
        <h1>{{ object.title }}</h1>
        <p class="lead">{{ object.plot }}</p>
    </div>

    <ul class="movie-image list-inline">
        {% for image in object.movieimage_set.all %}
            <li class="list-inline-item">
                <img src="{{ image.image.url }}" width="50px" height="50px" alt="">
            </li>
        {% endfor %}

        <p>
            Directed by {{ object.director }}
        </p>
    </ul>
{% endblock %}

{% block sidebar %}
    <div>
        This movie is rated:
        <span class="badge badge-primary">{{ object.get_rating_display }}</span>
    </div>
    {% if image_form %}
        <div>
            <h2>Upload New Image</h2>
            <form action="{% url "main:movie_image_upload" object.id %}"
                  method="post" enctype="multipart/form-data">
                {{ image_form.as_p }}
                {% csrf_token %}
                <button class="btn btn-primary">Upload Image</button>
            </form>
        </div>

    {% endif %}

    <div>
        <div>
            <h2>
                Score: {{ object.score|default_if_none:"TBD" }}
            </h2>
        </div>
        {% if vote_form %}
            <form action="{{ vote_form_url }}" method="post">
                {% csrf_token %}
                {{ vote_form.as_p }}
                <button type="submit" class="btn btn-primary">Vote</button>
            </form>
        {% else %}
            <p>Log in to vote for this movie</p>
        {% endif %}
    </div>

{% endblock %}